Repository oaswrap/spec: changes, and which lefthook commands are due for each by the changed paths.
All: fmt, vet, lint, mod-tidy

fmt:
  run: gofmt -w {staged_files} && git add {staged_files}

vet:
  run: go vet ./...

lint:
  run: golangci-lint run --fix

mod-tidy:
  run: go mod tidy

fix: github action issue
  Makefile
Due: none

fix: install tools command and remove gosec at action
  .github/workflows/ci.yml
  Makefile
Due: none

fix: failed unit test
  adapter/chiopenapi/testdata/petstore.yaml
  adapter/echoopenapi/testdata/petstore.yaml
  adapter/fiberopenapi/testdata/petstore.yaml
  adapter/ginopenapi/testdata/petstore.yaml
  adapter/httpopenapi/testdata/petstore.yaml
  adapter/httprouteropenapi/testdata/petstore.yaml
  adapter/muxopenapi/testdata/petstore.yaml
  router.go
  router_test.go
  testdata/basic_data_types_3.yaml
  testdata/petstore_3.yaml
  testdata/petstore_31.yaml
Due: fmt, vet, lint

chore: bump adapter deps to v3.4.0
  adapter/chiopenapi/examples/basic/go.mod
  adapter/chiopenapi/examples/basic/go.sum
  adapter/chiopenapi/go.mod
  adapter/chiopenapi/go.sum
  adapter/echoopenapi/examples/basic/go.mod
  adapter/echoopenapi/examples/basic/go.sum
  adapter/echoopenapi/go.mod
  adapter/echoopenapi/go.sum
  adapter/fiberopenapi/examples/basic/go.mod
  adapter/fiberopenapi/examples/basic/go.sum
  adapter/fiberopenapi/go.mod
  adapter/fiberopenapi/go.sum
  adapter/ginopenapi/examples/basic/go.mod
  adapter/ginopenapi/examples/basic/go.sum
  adapter/ginopenapi/go.mod
  adapter/ginopenapi/go.sum
  adapter/httpopenapi/examples/basic/go.mod
  adapter/httpopenapi/examples/basic/go.sum
  adapter/httpopenapi/go.mod
  adapter/httpopenapi/go.sum
  adapter/httprouteropenapi/examples/basic/go.mod
  adapter/httprouteropenapi/examples/basic/go.sum
  adapter/httprouteropenapi/go.mod
  adapter/httprouteropenapi/go.sum
  adapter/muxopenapi/examples/basic/go.mod
  adapter/muxopenapi/examples/basic/go.sum
  adapter/muxopenapi/go.mod
  adapter/muxopenapi/go.sum
  examples/basic/go.mod
  examples/petstore/go.mod
Due: none

chore: bump adapter deps to v3.4.0 (#33)
  adapter/chiopenapi/examples/basic/go.mod
  adapter/chiopenapi/examples/basic/go.sum
  adapter/chiopenapi/go.mod
  adapter/chiopenapi/go.sum
  adapter/echoopenapi/examples/basic/go.mod
  adapter/echoopenapi/examples/basic/go.sum
  adapter/echoopenapi/go.mod
  adapter/echoopenapi/go.sum
  adapter/fiberopenapi/examples/basic/go.mod
  adapter/fiberopenapi/examples/basic/go.sum
  adapter/fiberopenapi/go.mod
  adapter/fiberopenapi/go.sum
  adapter/ginopenapi/examples/basic/go.mod
  adapter/ginopenapi/examples/basic/go.sum
  adapter/ginopenapi/go.mod
  adapter/ginopenapi/go.sum
  adapter/httpopenapi/examples/basic/go.mod
  adapter/httpopenapi/examples/basic/go.sum
  adapter/httpopenapi/go.mod
  adapter/httpopenapi/go.sum
  adapter/httprouteropenapi/examples/basic/go.mod
  adapter/httprouteropenapi/examples/basic/go.sum
  adapter/httprouteropenapi/go.mod
  adapter/httprouteropenapi/go.sum
  adapter/muxopenapi/examples/basic/go.mod
  adapter/muxopenapi/examples/basic/go.sum
  adapter/muxopenapi/go.mod
  adapter/muxopenapi/go.sum
  examples/basic/go.mod
  examples/petstore/go.mod
Due: none

chore: tidy examples file
  examples/basic/go.mod
  examples/basic/go.sum
  examples/petstore/go.mod
  examples/petstore/go.sum
Due: none

feat: support specifying `encoding` object in request bodies
  openapi/entities.go
  operation.go
  option/content.go
Due: fmt, vet, lint

fix: ensure we don't assign to a nil map
  option/content.go
Due: fmt, vet, lint

style: appease the linter
  operation.go
  option/content.go
Due: fmt, vet, lint

Add ability to configure encoding object for request bodies (#35)
  openapi/entities.go
  operation.go
  option/content.go
Due: fmt, vet, lint

chore: update readme link
  README.md
  adapter/chiopenapi/README.md
  adapter/echoopenapi/README.MD
  adapter/fiberopenapi/README.md
  adapter/ginopenapi/README.md
  adapter/httpopenapi/README.md
  adapter/httprouteropenapi/README.md
  adapter/muxopenapi/README.md
Due: none

chore: update readme link (#37)
  README.md
  adapter/chiopenapi/README.md
  adapter/echoopenapi/README.MD
  adapter/fiberopenapi/README.md
  adapter/ginopenapi/README.md
  adapter/httpopenapi/README.md
  adapter/httprouteropenapi/README.md
  adapter/muxopenapi/README.md
Due: none

chore: add RELEASE.md
  RELEASE.md
Due: none

chore: bump adapter version to v0.3.5
  adapter/chiopenapi/examples/basic/go.mod
  adapter/chiopenapi/examples/basic/go.sum
  adapter/chiopenapi/go.mod
  adapter/chiopenapi/go.sum
  adapter/echoopenapi/examples/basic/go.mod
  adapter/echoopenapi/examples/basic/go.sum
  adapter/echoopenapi/go.mod
  adapter/echoopenapi/go.sum
  adapter/fiberopenapi/examples/basic/go.mod
  adapter/fiberopenapi/examples/basic/go.sum
  adapter/fiberopenapi/go.mod
  adapter/fiberopenapi/go.sum
  adapter/ginopenapi/examples/basic/go.mod
  adapter/ginopenapi/examples/basic/go.sum
  adapter/ginopenapi/go.mod
  adapter/ginopenapi/go.sum
  adapter/httpopenapi/examples/basic/go.mod
  adapter/httpopenapi/examples/basic/go.sum
  adapter/httpopenapi/go.mod
  adapter/httpopenapi/go.sum
  adapter/httprouteropenapi/examples/basic/go.mod
  adapter/httprouteropenapi/examples/basic/go.sum
  adapter/httprouteropenapi/go.mod
  adapter/httprouteropenapi/go.sum
  adapter/muxopenapi/examples/basic/go.mod
  adapter/muxopenapi/examples/basic/go.sum
  adapter/muxopenapi/go.mod
  adapter/muxopenapi/go.sum
  examples/basic/go.mod
  examples/petstore/go.mod
Due: none

fix: echo route syntax uses `:id` not `{id}`
  adapter/echoopenapi/README.MD
  adapter/echoopenapi/examples/basic/main.go
Due: fmt, vet, lint

feat: add custom parameter tag mapping at req structure
  openapi/config.go
  openapi/entities.go
  operation.go
  option/reflector.go
  option/reflector_test.go
  reflector3.go
  reflector31.go
  router_test.go
  testdata/custom_path_mapping_3.yaml
  testdata/custom_path_mapping_31.yaml
Due: fmt, vet, lint

feat: add default custom path parameter for echo, fiber and gin
  adapter/echoopenapi/README.MD
  adapter/echoopenapi/examples/basic/main.go
  adapter/echoopenapi/go.mod
  adapter/echoopenapi/router.go
  adapter/echoopenapi/router_test.go
  adapter/fiberopenapi/README.md
  adapter/fiberopenapi/examples/basic/main.go
  adapter/fiberopenapi/go.mod
  adapter/fiberopenapi/router.go
  adapter/fiberopenapi/router_test.go
  adapter/ginopenapi/examples/basic/main.go
  adapter/ginopenapi/go.mod
  adapter/ginopenapi/router.go
  adapter/ginopenapi/router_test.go
Due: fmt, vet, lint

fix: double prefix at httprouteropenapi
  adapter/httprouteropenapi/router.go
  adapter/httprouteropenapi/testdata/petstore.yaml
Due: fmt, vet, lint

feat: adjust function to modify struct tag
  operation.go
  router_test.go
  testdata/custom_parameter_mapping_3.yaml
  testdata/custom_parameter_mapping_31.yaml
Due: fmt, vet, lint

docs: update readme license
  README.md
  adapter/README.md
  adapter/chiopenapi/README.md
  adapter/echoopenapi/README.MD
  adapter/fiberopenapi/README.md
  adapter/ginopenapi/README.md
  adapter/httpopenapi/README.md
  adapter/httprouteropenapi/README.md
  adapter/muxopenapi/README.md
Due: none

chore: update deps to enable compatibility with go 1.25.x
  adapter/chiopenapi/examples/basic/go.sum
  adapter/chiopenapi/go.mod
  adapter/chiopenapi/go.sum
  adapter/echoopenapi/examples/basic/go.mod
  adapter/echoopenapi/examples/basic/go.sum
  adapter/echoopenapi/go.mod
  adapter/echoopenapi/go.sum
  adapter/fiberopenapi/examples/basic/go.mod
  adapter/fiberopenapi/examples/basic/go.sum
  adapter/fiberopenapi/go.mod
  adapter/fiberopenapi/go.sum
  adapter/ginopenapi/examples/basic/go.mod
  adapter/ginopenapi/examples/basic/go.sum
  adapter/ginopenapi/go.mod
  adapter/ginopenapi/go.sum
  adapter/httpopenapi/examples/basic/go.sum
  adapter/httpopenapi/go.mod
  adapter/httpopenapi/go.sum
  adapter/httprouteropenapi/examples/basic/go.sum
  adapter/httprouteropenapi/go.mod
  adapter/httprouteropenapi/go.sum
  adapter/muxopenapi/examples/basic/go.sum
  adapter/muxopenapi/go.mod
  adapter/muxopenapi/go.sum
  examples/basic/go.mod
  examples/basic/go.sum
  examples/petstore/go.mod
  examples/petstore/go.sum
  go.mod
  go.sum
  go.work
  go.work.sum
Due: mod-tidy

feat: move fiberopenapi into fiberopenapi/v2 feat: add new adapter on fiberopenapi/v3 for Fiber v3 framework
  Makefile
  RELEASE.md
  adapter/fiberopenapi/v2/README.md
  adapter/fiberopenapi/v2/examples/basic/go.mod
  adapter/fiberopenapi/v2/examples/basic/go.sum
  adapter/fiberopenapi/v2/examples/basic/main.go
  adapter/fiberopenapi/v2/go.mod
  adapter/fiberopenapi/v2/go.sum
  adapter/fiberopenapi/v2/internal/constant/constant.go
  adapter/fiberopenapi/v2/route.go
  adapter/fiberopenapi/v2/router.go
  adapter/fiberopenapi/v2/router_test.go
  adapter/fiberopenapi/v2/testdata/petstore.yaml
  adapter/fiberopenapi/v2/types.go
  adapter/fiberopenapi/v3/README.md
  adapter/fiberopenapi/v3/examples/basic/go.mod
  adapter/fiberopenapi/v3/examples/basic/go.sum
  adapter/fiberopenapi/v3/examples/basic/main.go
  adapter/fiberopenapi/v3/go.mod
  adapter/fiberopenapi/v3/go.sum
  adapter/fiberopenapi/v3/internal/constant/constant.go
  adapter/fiberopenapi/v3/route.go
  adapter/fiberopenapi/v3/router.go
  adapter/fiberopenapi/v3/router_test.go
  adapter/fiberopenapi/v3/testdata/petstore.yaml
  adapter/fiberopenapi/v3/types.go
  go.work
Due: fmt, vet, lint

chore: normalize release version handling and docs
  Makefile
  RELEASE.md
  adapter/chiopenapi/examples/basic/go.sum
  adapter/chiopenapi/go.mod
  adapter/chiopenapi/go.sum
  adapter/echoopenapi/examples/basic/go.mod
  adapter/echoopenapi/examples/basic/go.sum
  adapter/echoopenapi/go.mod
  adapter/echoopenapi/go.sum
  adapter/echov5openapi/examples/basic/go.mod
  adapter/echov5openapi/examples/basic/go.sum
  adapter/echov5openapi/go.mod
  adapter/echov5openapi/go.sum
  adapter/fiberopenapi/examples/basic/go.mod
  adapter/fiberopenapi/examples/basic/go.sum
  adapter/fiberopenapi/go.mod
  adapter/fiberopenapi/go.sum
  adapter/ginopenapi/examples/basic/go.mod
  adapter/ginopenapi/examples/basic/go.sum
  adapter/ginopenapi/go.mod
  adapter/ginopenapi/go.sum
  adapter/httpopenapi/examples/basic/go.sum
  adapter/httpopenapi/go.mod
  adapter/httpopenapi/go.sum
  adapter/httprouteropenapi/examples/basic/go.sum
  adapter/httprouteropenapi/go.mod
  adapter/httprouteropenapi/go.sum
  adapter/muxopenapi/examples/basic/go.sum
  adapter/muxopenapi/go.mod
  adapter/muxopenapi/go.sum
  examples/basic/go.mod
  examples/basic/go.sum
  examples/petstore/go.mod
  examples/petstore/go.sum
  go.mod
  go.sum
  go.work.sum
Due: mod-tidy

chore: finalize two-stage release flow and adapter replace setup
  Makefile
  RELEASE.md
  adapter/chiopenapi/examples/basic/go.sum
  adapter/chiopenapi/go.mod
  adapter/chiopenapi/go.sum
  adapter/echoopenapi/go.mod
  adapter/echoopenapi/go.sum
  adapter/echov5openapi/go.mod
  adapter/echov5openapi/go.sum
  adapter/fiberopenapi/go.mod
  adapter/fiberopenapi/go.sum
  adapter/ginopenapi/go.mod
  adapter/ginopenapi/go.sum
  adapter/httpopenapi/go.mod
  adapter/httpopenapi/go.sum
  adapter/httprouteropenapi/go.mod
  adapter/httprouteropenapi/go.sum
  adapter/muxopenapi/go.mod
  adapter/muxopenapi/go.sum
Due: none

chore: simplify release command names
  Makefile
  RELEASE.md
Due: none

chore(ci): bump quality gate go and fix golangci config
  .github/workflows/ci.yml
  .golangci.yml
Due: none

feat: add Fiber v3 adapter (fiberv3openapi)
  .gitignore
  CLAUDE.md
  Makefile
  adapter/README.md
  adapter/echoopenapi/examples/basic/go.mod
  adapter/echoopenapi/examples/basic/go.sum
  adapter/echoopenapi/go.sum
  adapter/echov5openapi/examples/basic/go.mod
  adapter/echov5openapi/go.mod
  adapter/echov5openapi/go.sum
  adapter/fiberopenapi/examples/basic/go.sum
  adapter/fiberopenapi/go.mod
  adapter/fiberopenapi/go.sum
  adapter/fiberv3openapi/README.md
  adapter/fiberv3openapi/examples/basic/go.mod
  adapter/fiberv3openapi/examples/basic/go.sum
  adapter/fiberv3openapi/examples/basic/main.go
  adapter/fiberv3openapi/go.mod
  adapter/fiberv3openapi/go.sum
  adapter/fiberv3openapi/internal/constant/constant.go
  adapter/fiberv3openapi/route.go
  adapter/fiberv3openapi/router.go
  adapter/fiberv3openapi/router_test.go
  adapter/fiberv3openapi/testdata/petstore.yaml
  adapter/fiberv3openapi/types.go
  adapter/ginopenapi/examples/basic/go.mod
  adapter/ginopenapi/examples/basic/go.sum
  adapter/ginopenapi/go.mod
  adapter/ginopenapi/go.sum
  go.work
  go.work.sum
Due: fmt, vet, lint

chore: move adapter example from examples/basic to example directory and adjust readme
  adapter/chiopenapi/README.md
  adapter/chiopenapi/example/go.mod
  adapter/chiopenapi/example/go.sum
  adapter/chiopenapi/example/main.go
  adapter/echoopenapi/README.MD
  adapter/echoopenapi/example/go.mod
  adapter/echoopenapi/example/go.sum
  adapter/echoopenapi/example/main.go
  adapter/echov5openapi/README.MD
  adapter/echov5openapi/example/go.mod
  adapter/echov5openapi/example/go.sum
  adapter/echov5openapi/example/main.go
  adapter/fiberopenapi/README.md
  adapter/fiberopenapi/example/go.mod
  adapter/fiberopenapi/example/go.sum
  adapter/fiberopenapi/example/main.go
  adapter/fiberv3openapi/README.md
  adapter/fiberv3openapi/example/go.mod
  adapter/fiberv3openapi/example/go.sum
  adapter/fiberv3openapi/example/main.go
  adapter/ginopenapi/README.md
  adapter/ginopenapi/example/go.mod
  adapter/ginopenapi/example/go.sum
  adapter/ginopenapi/example/main.go
  adapter/httpopenapi/README.md
  adapter/httpopenapi/example/go.mod
  adapter/httpopenapi/example/go.sum
  adapter/httpopenapi/example/main.go
  adapter/httprouteropenapi/README.md
  adapter/httprouteropenapi/example/go.mod
  adapter/httprouteropenapi/example/go.sum
  adapter/httprouteropenapi/example/main.go
  adapter/muxopenapi/README.md
  adapter/muxopenapi/example/go.mod
  adapter/muxopenapi/example/go.sum
  adapter/muxopenapi/example/main.go
  go.work
Due: fmt, vet, lint

feat: add custom spec-ui option support and upgrade spec-ui to v0.2.0
  adapter/chiopenapi/README.md
  adapter/chiopenapi/go.mod
  adapter/chiopenapi/go.sum
  adapter/echoopenapi/README.MD
  adapter/echoopenapi/go.mod
  adapter/echoopenapi/go.sum
  adapter/echov5openapi/README.MD
  adapter/echov5openapi/go.mod
  adapter/echov5openapi/go.sum
  adapter/fiberopenapi/README.md
  adapter/fiberopenapi/go.mod
  adapter/fiberopenapi/go.sum
  adapter/fiberv3openapi/README.md
  adapter/fiberv3openapi/go.mod
  adapter/fiberv3openapi/go.sum
  adapter/ginopenapi/README.md
  adapter/ginopenapi/go.mod
  adapter/ginopenapi/go.sum
  adapter/httpopenapi/README.md
  adapter/httpopenapi/go.mod
  adapter/httpopenapi/go.sum
  adapter/httprouteropenapi/README.md
  adapter/httprouteropenapi/go.mod
  adapter/httprouteropenapi/go.sum
  adapter/muxopenapi/README.md
  adapter/muxopenapi/go.mod
  adapter/muxopenapi/go.sum
  examples/basic/go.mod
  examples/basic/go.sum
  examples/petstore/go.mod
  examples/petstore/go.sum
  go.mod
  go.sum
  go.work.sum
  openapi/config.go
  option/openapi.go
  option/openapi_test.go
  pkg/mapper/specui.go
Due: fmt, vet, lint, mod-tidy

fix: asset-handler not registed when use embed ui
  adapter/chiopenapi/example/go.mod
  adapter/chiopenapi/example/go.sum
  adapter/chiopenapi/router.go
  adapter/chiopenapi/router_test.go
  adapter/echoopenapi/example/go.mod
  adapter/echoopenapi/example/go.sum
  adapter/echoopenapi/router.go
  adapter/echoopenapi/router_test.go
  adapter/echov5openapi/example/go.mod
  adapter/echov5openapi/example/go.sum
  adapter/echov5openapi/router.go
  adapter/echov5openapi/router_test.go
  adapter/fiberopenapi/example/go.mod
  adapter/fiberopenapi/example/go.sum
  adapter/fiberopenapi/router.go
  adapter/fiberopenapi/router_test.go
  adapter/fiberv3openapi/example/go.mod
  adapter/fiberv3openapi/example/go.sum
  adapter/fiberv3openapi/router.go
  adapter/fiberv3openapi/router_test.go
  adapter/ginopenapi/example/go.mod
  adapter/ginopenapi/example/go.sum
  adapter/ginopenapi/router.go
  adapter/ginopenapi/router_test.go
  adapter/httpopenapi/example/go.mod
  adapter/httpopenapi/example/go.sum
  adapter/httpopenapi/router.go
  adapter/httpopenapi/router_test.go
  adapter/httprouteropenapi/example/go.mod
  adapter/httprouteropenapi/example/go.sum
  adapter/httprouteropenapi/router.go
  adapter/httprouteropenapi/router_test.go
  adapter/muxopenapi/example/go.mod
  adapter/muxopenapi/example/go.sum
  adapter/muxopenapi/router.go
  adapter/muxopenapi/router_test.go
  go.work.sum
Due: fmt, vet, lint

feat: add WithStripTrailingSlash option to remove trailing slashes from operation paths
  README.md
  adapter/muxopenapi/router_test.go
  adapter/muxopenapi/testdata/petstore.yaml
  internal/debuglog/debuglog.go
  openapi/config.go
  option/openapi.go
  pkg/util/util.go
  pkg/util/util_test.go
  router.go
Due: fmt, vet, lint

fix: propagate gen field to subrouters and fix nil panic in modifyReqStructure
  adapter/chiopenapi/router.go
  adapter/fiberopenapi/router.go
  adapter/fiberv3openapi/router.go
  adapter/ginopenapi/router.go
  adapter/httprouteropenapi/router.go
  adapter/muxopenapi/route.go
  adapter/muxopenapi/router.go
  operation.go
Due: fmt, vet, lint

chore: update golangci-lint version
  Makefile
Due: none

feat: add some unit test and map encoding function to mapper package
  internal/mapper/openapi3.go
  internal/mapper/openapi31.go
  internal/mapper/openapi_test.go
  operation.go
  option/openapi_test.go
  router_test.go
  testdata/strip_trailing_slashes_3.yaml
  testdata/strip_trailing_slashes_31.yaml
Due: fmt, vet, lint

fix: failed unit test at echov5 adapter due library changes
  adapter/echov5openapi/example/go.mod
  adapter/echov5openapi/example/go.sum
  adapter/echov5openapi/go.mod
  adapter/echov5openapi/go.sum
  adapter/echov5openapi/router_test.go
  go.work.sum
Due: fmt, vet, lint

fix: example petstore to like reference
  examples/petstore/main.go
  examples/petstore/openapi.yaml
  examples/petstore/router.go
  lefthook.yml
Due: fmt, vet, lint

fix: shorten generic type definition names in JSON schema
  jsonschema.go
  reflector3.go
  reflector31.go
  testdata/all_operation_options_3.yaml
  testdata/all_operation_options_31.yaml
  testdata/generic_response_3.yaml
  testdata/generic_response_31.yaml
Due: fmt, vet, lint

Path conditions:
  fmt: any of: *.go
  vet: any of: *.go
  lint: any of: *.go
  mod-tidy: any of: go.{mod,sum}
